body {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-style: normal;
    overflow-x: hidden;
}
*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* //header start// */
.header {
    background-color:#FFFFFF;
    width: 100%;
    height: 72px;
    box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}
.header__container {
    max-width: 964px;
    margin: 0 auto;
    padding: 0 16px 0px 16px;
}
.header__row {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sidebar {
    display: flex;
    align-items: center;
}
.sidebar__button {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    border: 1px solid #E0E0E0;
    background-color: #FFFFFF;
    border-radius: 2px;
    box-sizing: border-box;
    text-align: center;
    padding: 14px 20px;
}
.sidebar__basket-img {
    margin-left: 27px;
}
@media screen and (max-width: 769px) {
    .sidebar__basket-img {
     display: none;
    }
    .header__row {
        padding-top: 13px;
    }

}

/* //header END// */
/* main {
    max-width: 956px;
    margin: 0 auto;
} */
/* //hero// */
.traktir {
    margin-top: 72px;
    background-image: url("../2nd-image/photo.png");
    background-size: cover;
    background-position: center center;
    padding-top: 80px;
}
.traktir-container {
    height: 364px;
    padding-top: 80px;
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
    max-width: 956px;
    padding: 0 16px;
    padding-top: 80px;
}
.hero-container {
    position: absolute;
    width: 100%;
}
.page-hero {
    background-color: #FFFFFF;
    max-width: 389px;
    width: 100%;
    box-shadow: 0px 0px 16px rgba(117, 117, 117, 0.2);
    border-radius: 2px;
    padding: 2em 3.4em 2em;
}
.page-hero__title {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    color: #1D1D1D;
    text-align: center;
    padding: 0 0 2em;
}
.page-hero__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.page-hero__description {
    color: #626262;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}
.page-hero__time {
    color: #FFFFFF;
    background-color: black;
    border-radius: 20px;
    padding: 8px 16px;
    font-size: 13px;
}
@media screen and (max-width: 400px) {
    .page-hero {
        padding: 2em 2em 2em;
    }
    .hero-container {
        left: 0;
        padding: 0 0.4em;
    } 
    .page-hero__title {
        font-size: 25px;
        line-height: 1.2em;
    }
}
/* //hero END// */
/* //nav// */
.nav {
    border-bottom: 1px solid rgba(117, 117, 117, 0.2);
}
.nav__container {
    margin: 0 auto;
    max-width: 956px;
    height: 80px;
    width: 100%;
    padding: 0 16px 0px 16px;
}
.nav__row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    white-space: nowrap;
    padding-top: 32px;
    padding-bottom: 29px;
}
.nav__text {
    color: #626262;
    text-decoration: none;
    margin-right: 40px;
}
@media screen and (max-width: 623px) {
    .nav {
        display: none;
    }
}
/* //nav END// */
.snacks__title {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
    padding-bottom: 32px;
    padding-top: 56px;
    padding: 56px 16px 32px 16px;
    max-width: 956px;
    margin: 0 auto;
}
.card-container {
    max-width: 956px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    padding: 0 16px 80px 16px;

}
.menu-card {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(117, 117, 117, 0.2);
    margin-bottom: 10px;
}
.menu-card__column {
    width: 50%;
}
.menu-card__column_description {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu-card__column_img {
    display: flex;
    justify-content: end;
}
.menu-card__title {
    color: #1d1d1d;
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;
}
.menu-card__description {
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #626262;
}
.menu-card__price {
    font-weight: 500;
    font-size: 15px;
    line-height: 21px;
}

.menu-card__image {
    height: 100%;
}
@media screen and (max-width: 976px) {
    .card-container {
        display: grid;
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 410px) {
    .menu-card {
        flex-direction: column-reverse;
    }
    .menu-card__column {
        width: 100%;
    }
    .menu-card__image-wrapper {
        width: 100%;
    }
    .menu-card__image {
        width: 100%;
        height: auto;
    }
    .menu-card__column_description {
        padding: 5px;
    }
    .menu-card__title {
        padding: 0;
        line-height: 20px;
    }
    .menu-card__price {
        line-height: 25px;
    }
}
/* //footer// */
hr {
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.4;
    height: 1px;
}
.footer {
    background-color:#262626;
    max-width: 100%;
}
.footer__container {
    margin: 0 auto;
    max-width: 956px;
    padding: 0px 16px 0px 16px;
}
.footer__logo {
    padding-top: 56px;
    padding-bottom: 40px;
}
.footer-info__container {
    padding-top: 32px;
    padding-bottom: 25px;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.botton-language {
    width: 227px;
    height: 40px;
}
.botton-language__logo {
    position: absolute;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 24px;
    padding-right: 17px;
}
.botton-language__select {
    margin-bottom: 33px;
    padding-left: 50px;
    background: #3B3B3B;
    border:none;
    color: #FFFFFF;
    font-size: 13px;
    width: 100%;
    height: 100%;
}
.footer-info__col-first {
    padding-right: 15px;
}
.footer-info__col-second {
    padding-right: 15px;
}
.footer-info__name {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}
.footer-info__social-media{
    padding-top: 33px;
}
.footer-info__linkmedia {
    margin-top: 17px;
}
.footer-info__linkmedia-img {
    padding-right: 7px;
}
.footer-info__text {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    padding-bottom: 23px;
}
.footer-info__link {
    text-decoration: none;
}
.footer-app_container {
    margin-top: 40px;
    margin-bottom: 39px;
}
.footer-app_container {
    display: flex;
    justify-content: center;
    column-gap: 40px;
}
.footer-app__store {
    text-decoration: none;
}

.footer-agreements__container {
    padding-top: 40px;
    padding-bottom: 40px;
}
.footer-agreements_flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-agreements__text {
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #FFFFFF;
}
.footer-agreements__link {
    text-decoration: none;
}
@media screen and (max-width: 565px) {
    .footer-info__container {
        grid-template-columns: 1fr;
    }
    .footer-info__linkmedia {
        padding-bottom: 39px;
    }
    .footer-agreements_flex {
        display: flex;
        flex-direction: column;
    }
    .footer-agreements__text {
        padding-bottom: 24px;
    }
}
/* //footer END// */
.back-to-top {
    position: fixed;
    right: 16px;
    bottom: 24px;
    width: 80px;
    height: 80px;
    cursor: pointer;
    display: flex;
}
.back-to-top:hover,
.back-to-top:focus {
    filter: brightness(1.5);
    outline: none;
}
@media screen and (max-width: 760px){
    .back-to-top {
        width: 64px;
        height: 64px;
    }
    .back-to-top__img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}